<div class="uk-container-center uk-text-center " >

    <p class="">Spalatobeans	&copy;  {{ year | e('esc_html') }}</p>
    <a href="https://www.facebook.com/alexandra.spalato" target="_blank" class=" uk-icon-small uk-icon-button  uk-icon-facebook"></a>
    <a href="https://twitter.com/alexadark" target="_blank" class=" uk-icon-small uk-icon-button uk-icon-twitter"></a>
</div>


