.tab-content {
  padding: 40px;
  background: @bg-grey;
  @media (min-width: @breakpoint-medium) {
    margin-left: 40px;
  }

}

.tab-title {
  background: @primary-color;
  padding: 7px 10px;
  width: 150px;
  margin-bottom: 5px;
 display: block;
  .transition();
  @media (max-width: @breakpoint-small-max) {
    display: inline-block;
    width: auto;

  }
  @media (min-width: @breakpoint-medium){
    padding: 7px 20px;

  }
  &:hover, &.uk-active{
    background: darken(@primary-color,10%);
  }

  a {
    color: @white;
    &:hover{
      color:@white;
    }
  }
}

.block_tabs {
  .uk-container {
    @media (max-width: @breakpoint-small-max) {
      padding-left: 50px;
    }

  }
}
.tabs-cta{
  max-width:400px;
  padding: 10px;
}