/*--------------------------------------------------------------
Site
--------------------------------------------------------------*/
a{
  .transition(color);
}
.tm-site{
  @media (min-width: @breakpoint-medium) {
    border: @site-frame solid @white;
  }
}
//.tm-main{
//  background: @global-background;
//}

//Boxed layout options

.boxed {

  .tm-header {
    background: transparent !important;
    padding: 0 !important;
    .uk-container{
      padding: 15px;
    }
  }
  .tm-fat-footer, .tm-footer{
    background: transparent;
    &.uk-block{
      padding: 0;
    }
    .uk-container{
      padding: 20px;
    }

  }


  .tm-main {
    max-width: 1200px;
    margin: 0 auto;
    background: #f5f5f5;
  }

  html {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .tm-site {
    @media (min-width: @breakpoint-medium) {
      margin-top: 40px;
      margin-bottom: 40px;

    }
  }
  .block{
    max-width:980px;
    margin: 0 auto;
    @media (min-width: @breakpoint-xlarge){
      max-width: 1200px !important;
    }
  }
}