/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
.tm-footer{
  background: darken(@secondary-color, 5%);
  color:@white;
  padding: 10px;
  border-top:none;
  .uk-icon-button{
    background: @primary-color;
    color: @white;
    margin: 0 3px;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;

    .transition;
    &:hover{
      background: lighten(@secondary-color, 15%);
      .transform(rotateZ(360deg));
    }
  }

  .uk-icon-heart{
    color:  @primary-color;
    margin-left: 3px;
  }

  .tm-widget{
    padding: 0;
    margin:0;
    background: @secondary-color;
    color:@white;
    font-size: 14px;
  }

}
.tm-fat-footer{
  background: @secondary-color;
  .tm-widget{
    background: @secondary-color;
    color: @light-grey;
    margin-top: 0;
    @media (max-width: @breakpoint-small-max){
      padding-top: 0;
      padding-bottom: 0;
    }
    p{
      margin-bottom: 0;
    }
    .uk-panel-title{
      text-transform: uppercase;
      color: @primary-color;
    }
  }
}
