/*--------------------------------------------------------------
TYPOGRAPHY
--------------------------------------------------------------*/
.uk-light{
  h1,h2, h3, h4, h5, h6, p, a {
    color:@white;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
  }
}

.checked{
  li{
    list-style-type: none;
    &:before{
      content: '\f00c';
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      /*--adjust as necessary--*/
      color: #000;
      font-size: 18px;
      padding-right: 0.5em;
      position: relative;
      top: 0;
      left: 0;

    }
  }
}