{% extends "blocks/block.twig" %}
{% block content %}

    {% set cols = block.content_columns %}
    {% set el_1 = block.el_one ? block.el_one : [] %}
    {% set el_2 = block.el_two ? block.el_two : [] %}
    {% set el_3 = block.el_three ? block.el_three : [] %}
    {% set el_4 = block.el_four ? block.el_four : [] %}

    <div class="container {{ light }} uk-flex uk-flex-column uk-flex-center uk-flex-middle"
         style="min-height: {{ block.height | e('esc_html') }}px; ">


        {% if fw == '' %}
        <div class="uk-container uk-container-center"
             style="max-width: {{ width }}px"> {% endif %}

            <div class="hero-content uk-grid {% if cols == 'one' %}
           uk-grid-width-1-1
        {% elseif cols == "two" %}
        uk-grid-width-medium-1-2
        {% elseif cols == "three" %}
          uk-grid-width-medium-1-3
         {% elseif cols == "four" %}
           uk-grid-width-large-1-4 uk-grid-width-medium-1-2
           {% elseif cols == "five" %}
           uk-grid-width-large-1-5 uk-grid-width-medium-1-3
            {% elseif cols == "six" %}
           uk-grid-width-large-1-6 uk-grid-width-medium-1-3
         {% else %}

        {% endif %}">
                <div class="uk-panel one uk-flex uk-flex-columns uk-flex-middle
{% if cols == 'one-three' %} uk-width-medium-1-3 {% endif %}">
                    <div class="container">

                        {% if function('in_array','content', el_1) %}
                            {{ block.content_1  | e('wp_kses_post') }}
                        {% endif %}

                        {% if function('in_array','form', el_1) %}
                            {{ function('gravity_form', block.form_1 | e('esc_html'), false, false, false, '', true) }}
                        {% endif %}

                    </div>
                </div>
                {% if cols != 'one' %}
                    <div class="uk-panel two uk-flex uk-flex-columns uk-flex-middle {% if cols == 'one-three' %} uk-width-medium-2-3 {% endif %}">
                        <div class="container">
                            {% if function('in_array','content', el_2) %}
                                {{ block.content_2  | e('wp_kses_post') }}
                            {% endif %}

                            {% if function('in_array','form', el_2) %}
                                {{ function('gravity_form', block.form_2 | e('esc_html'), false, false, false, '', true) }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if cols == 'three' or cols == 'four' or cols == 'five' or cols == 'six' %}
                    <div class="uk-panel three uk-flex uk-flex-columns uk-flex-middle ">
                        <div class="container">
                            {% if function('in_array','content', el_3) %}
                                {{ block.content_3  | e('wp_kses_post') }}
                            {% endif %}

                            {% if function('in_array','form', el_3) %}
                                {{ function('gravity_form', block.form_3 | e('esc_html'), false, false, false, '', true) }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if cols == 'four' or cols == 'five' or cols == 'six' %}
                    <div class="uk-panel four uk-flex uk-flex-columns uk-flex-middle ">
                        <div class="container">
                            {% if function('in_array','content', el_4) %}
                                {{ block.content_4  | e('wp_kses_post') }}
                            {% endif %}

                            {% if function('in_array','form', el_4) %}
                                {{ function('gravity_form', block.form_4 | e('esc_html'), false, false, false, '', true) }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if cols == 'five' or cols == 'six' %}
                    <div class="uk-panel five uk-flex uk-flex-columns uk-flex-middle ">
                        <div class="container">
                            {{ block.content_5  | e('wp_kses_post') }}
                        </div>
                    </div>
                {% endif %}
                {% if cols == 'six' %}
                    <div class="uk-panel six uk-flex uk-flex-columns uk-flex-middle ">
                        <div class="container">
                            {{ block.content_6  | e('wp_kses_post') }}
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if fw == '' %}  </div> {% endif %}
    </div>


{% endblock %}



