{% extends "blocks/block.twig" %}
{% block content %}


    <div class="container {{ light }} uk-flex uk-flex-column uk-flex-center uk-flex-middle"
         style="min-height: {{ block.height | e('esc_html') }}px; ">


        {% if fw == '' %}
        <div class="uk-container uk-container-center"
             style="max-width: {{ width }}px"> {% endif %}
            {% if block.title %}
                <h2 class="uk-text-center tabs-title uk-margin-bottom">{{ block.title | e('esc_html') }}</h2>
            {% endif %}


                {% set cols = block.cols %}
                {% set gutter = block.gutter %}



            <div class="grid-gallery uk-grid {% if cols == 'two' %} uk-grid-width-medium-1-2 {% elseif
            cols
            == 'three' %}
             uk-grid-width-medium-1-3 {% elseif cols == 'four' %} uk-grid-width-medium-1-2 uk-grid-width-large-1-4 {% elseif cols == 'five' %} uk-grid-width-medium-1-3 uk-grid-width-large-1-5 {% else %} uk-grid-width-medium-1-3 uk-grid-width-large-1-6 {% endif %} {% if gutter == 'no-gutter' %} uk-grid-collapse {% elseif gutter ==
            'small' %} uk-grid-small {% elseif gutter == 'large' %} uk-grid-large {% else %} {% endif %} ">


                {% for item in block.gallery_items %}
                    {% set img = TimberImage(item.image) %}
                    <div class="uk-panel gallery-item">
                        <figure class="uk-overlay uk-overlay-hover">
                            <img class="uk-overlay-scale"
                                 src="{{ img | e('esc_url') | resize(800,800) }}"
                                 alt="{{ img.alt | e('esc_html') }}">
                            <div class="uk-overlay-panel uk-overlay-background uk-overlay-slide-top"></div>
                            <div class="uk-overlay-panel uk-overlay-slide-top uk-flex uk-flex-center uk-flex-middle uk-text-center">{{ item.overlay_content  | e('wp_kses_post') }}</div>
                            <a href="{{ img | e('esc_url') }}"
                               title="{{ img.title | e('esc_html') }}"
                               class="uk-position-cover"
                               data-lightbox-type="image"
                               data-uk-lightbox="{group:
                               'gallery'}"></a>
                        </figure>
                    </div>

                {% endfor %}


            </div>




            {% if fw == '' %}  </div> {% endif %}
    </div>


{% endblock %}
