{% extends "blocks/block.twig" %}
{% block content %}

        {% if fw == '' %}
        <div class="uk-container uk-container-center"
             style="max-width: {{ width }}px"> {% endif %}
    {% if block.title %}
    <h2 class="uk-text-center slideshow-title-title uk-margin-large-bottom">{{ block.title | e('esc_html') }}</h2>
    {% endif %}




            <div class="tm-slider uk-slidenav-position"
                 data-uk-slideshow="{ {% if block.full_screen == ''  %}height: {{ block.slideshow_height | e('esc_html') }}   {% endif %}, animation:'swipe', {% if block.ken_burns %}kenburns:true{% endif %} }">

                <ul class="uk-slideshow">
                    {% for item in block.slides %}
                        <li class="slide-container {% if block.full_screen %} uk-height-viewport {% endif %}">
                            {% set img = TimberImage(item.image) %}

                            <img src="{{ img | e('esc_url') }}"
                                 alt="{{ img.alt | e('esc_html') }}"
                                 title="{{ img.title | e('esc_html') }}">
                            {% if item.content %}
                            <div class="uk-overlay-panel uk-overlay-background uk-overlay-active  uk-flex uk-flex-center uk-flex-middle uk-text-center">
                                <div>
                                    <div class="uk-container uk-container-center">
                                    {{ item.content  | e('wp_kses_post') }}
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                        </li>
                    {% endfor %}
                </ul>
                <a href="#"
                   class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous"
                   data-uk-slideshow-item="previous"></a>
                <a href="#"
                   class="uk-slidenav uk-slidenav-contrast uk-slidenav-next"
                   data-uk-slideshow-item="next"></a>

            </div>

            {% if fw == '' %}  </div> {% endif %}


{% endblock %}
