{% extends "blocks/block.twig" %}
{% block content %}


    <div class="container {{ light }} uk-flex uk-flex-column uk-flex-center uk-flex-middle"
         style="min-height: {{ block.height | e('esc_html') }}px; ">


        {% if fw == '' %}
        <div class="uk-container uk-container-center"
             style="max-width: {{ width }}px"> {% endif %}
            <h2 class="uk-text-center tabs-title">{{ block.title | e('esc_html') }}</h2>

            <div class="tabs-container uk-margin-large-top uk-grid uk-grid-large ">
                <ul class="uk-list  uk-width-medium-1-10"
                    data-uk-switcher="{connect:'#tabs' }">
                    {% for item in block.tabs_items %}
                        <li class="tab-title"><a href="">{{ item.tab_title | e('esc_html') }}</a></li>
                    {% endfor %}


                </ul>

                <ul id="tabs"
                    class="uk-switcher uk-width-medium-9-10">
                    {% for item in block.tabs_items %}
                        <li class="tab-content">
                            {{ item.tab_content  | e('wp_kses_post') }}
                        </li>

                    {% endfor %}


                </ul>
            </div>

            {% set cta = block.cta %}
            {% if cta %}
                <a href="{{ cta.url | e('esc_url') }}"
                   target="{{ cta.target | e('esc_html') }}"
                   class="tabs-cta uk-button uk-button-primary uk-align-center uk-margin-large-top">{{ cta.title | e
                    ('esc_html') }}</a>
            {% endif %}

            {% if fw == '' %}  </div> {% endif %}
    </div>


{% endblock %}
