{% set light = block.light_font  ? 'uk-light' : '' %}
{% set bg_image = TimberImage(block.bg_image) | e('esc_url') %}
{% set bg_color = block.bg_color | e('esc_html') %}
{% set height = block.height | e('esc_html') %}
{% set vp = block.v_padding | e('esc_html') %}
{% set mt = block.margin_top | e('esc_html') %}
{% set mb = block.margin_bottom | e('esc_html') %}
{% set fw = block.full_width_content | e('esc_html') %}
{% set width = block.content_width | e('esc_html') %}

<div id="{{ block.id | e('esc_html') }}"
     class="block {{ light }} {{ block_class | e('esc_html') }} {{ block.class | e
     ('esc_html') }}"
     style="
             background:{{ block.bg_color | e('esc_html') }} url({{ bg_image | e('esc_url') }}) no-repeat;
             -webkit-background-size: cover ;background-size: cover;
             padding-top: {{ vp }}px ;
             padding-bottom: {{ vp }}px;
             margin-top: {{ mt }}px;
             margin-bottom: {{ mb }}px;
             " >

    {% block content %}
    {% endblock %}
</div>