{% for block in post.get_field('content_blocks') %}
    {% set block_class = block.acf_fc_layout  %}
    {% if block_class == 'block_tabs' %}
        {% include 'blocks/_tabs.twig' %}
    {% elseif block_class == 'block_content' %}
        {% include 'blocks/_content.twig' %}
    {% elseif block_class == 'block_gallery' %}
        {% include 'blocks/_gallery.twig' %}
    {% elseif block_class == 'block_slideshow' %}
        {% include 'blocks/_slideshow.twig' %}
    {% endif %}


{% endfor %}
